# Add other required environment variables here, for example:

# GITHUB_APP_SECRET=your_github_app_secret
# GITHUB_CLIENT_ID=your_github_client_id
# GITHUB_CLIENT_SECRET=your_github_client_secret 

GITHUB_TOKEN=github_token
GITHUB_API_URL=github_api_url
