GITHUB_CLIENT_SECRET=
APP_ID=
GITHUB_CLIENT_ID=

GITHUB_TOKEN=
GITHUB_API_URL=https://api.github.com
GITHUB_WEBHOOK_SECRET=

GITHUB_PRIVATE_KEY=
AUD_JWT=
GTHUB_ISS_JWT="https://token.actions.githubusercontent.com"
GITHUB_URL="https://github.com"
ACCESS_TOKEN_EXPIRE_MINUTES=5
ADMIN_USER=
ADMIN_PASSWORD=
